

.wrapper {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 0;
}

.image {
    max-width: 9rem;
    padding: .5rem;
    
    
}

/* Media Queries */

@media screen and (max-width: 1050px) {
    
    .image {
        max-width: 7rem;
        padding: .25rem;
    }
  }