
 .wrapper {     
   
    display: flex;
    flex-flow: row wrap;    
    width: 25%;   

}

.image {    
    max-width: 10rem;
    max-height: fit-content;    
    border-radius: .25rem;   
    flex-flow: row wrap;       
    
}

/* Media Queries */

@media screen and (max-width: 1290px) {

    .wrapper {
        margin: 0 auto;        
    }
    
    .image {
        max-width: 8rem;
        padding: .5rem;
    }
  } 


@media screen and (max-width: 1050px) {

    .wrapper {
        padding: 0;
        margin: 0 auto;
        margin-bottom: 0;
        display: flex;
        flex-flow: row wrap;    
           
    
    }
    
    .image {
        max-width: 7rem;
        padding: .25rem;
    }
  }  