

.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: 16px;
}

.card_small {
    grid-row-end: span 26;
}

.card_medium {
    grid-row-end: span 33;
}

.container_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
.card_large {
    grid-row-end: span 45;
}

/* Media Queries */
/* 
@media screen and (max-width: 1290px) {

    .wrapper {
        margin: 0 auto;        
    }
    
    .image {
        max-width: 8rem;
        padding: .5rem;
    }
  } 


@media screen and (max-width: 1050px) {
    
    .image {
        max-width: 7rem;
        padding: .25rem;
    }
  }   */