@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:ital,wght@1,300&display=swap');

* {
  
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
 
}

html {
  /* text-align: center; */
  background-color: #1AC8ED;
  font-family: 'Open Sans', sans-serif;
}

.App {
  /* text-align: center; */
  background-color: #1AC8ED;
  
}
body {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  background-color: grey;
}



