@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:ital,wght@1,300&display=swap');

* {  
  margin:0;
  padding: 0;
 
}

html {
  /* text-align: center; */
  background-color: #1AC8ED;
  font-family: sans-serif;
}

.App {
  /* text-align: center; */
  background-color: #1AC8ED;
  
}



/* box-sizing: border-box - tells browser to include padding and borders into width of elements*/